.Cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3% 20% 100px 20%;

  h3{
    margin-left: auto;
    color: #5891d4;
  }

  .CartHeader {
    display: flex;
    justify-content: space-between;

    .CartText {
      display: flex;
      color: #000000;
      font-size: 20px;
      font-weight: 900px;

      img {
        margin-right: 10px;
        width: 30%;
      }
    }

    .CartClear {
      display: flex;
      cursor: pointer;
      align-items: center;
      color: #8b8b8b;
      font-size: 13px;

      img {
        width: 10%;
      }
    }
  }

  .ProductsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .CartFooter {
    margin: 5%;
    display: flex;
    justify-content: space-between;

    .ButtonBuy {
      border: 1px solid #5891d4;
      color: #5891d4;
      border-radius: 10px;
      padding: 15px;
      cursor: pointer;

      &:hover {
        background-color: #5891d4;
        color: white;
      }
    }
  }
}

@media (max-width: 700px) {
  .Cart {
    padding: 3% 7% 100px 7%;

    .CartHeader {
      .CartText {
        font-size: 16px;

        img {
          margin-right: 5px;
          width: 30%;
        }
      }

      .CartClear {
        color: #8b8b8b;
        font-size: 13px;
        margin-left: 25%;

        img {
          width: 15%;
        }
      }
    }


    .CartFooter {
      margin: 5%;
      display: flex;
      justify-content: space-between;

      .ButtonBuy {
        border: 1px solid #5891d4;
        color: #5891d4;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;

        &:hover {
          background-color: #5891d4;
          color: white;
        }
      }
    }
  }
}
